<!DOCTYPE html>

<html>
    <head>
        <title> <%= resposta %> </title>
        <meta charset="utf-8">
        <link href="estilo.css" rel="stylesheet">
    </head>

    <body>
        <div class="menu">
            <div class="aba"><a href="/carros_venda.html">Comprar</a></div>
            <div class="aba"><a href="/carros_disponiveis">Catálogo</a></div>
    
            <div class="aba"><a href="/cadastro_usuario.html">Cadastrar</a></div>
            <div class="aba"><a href="/login_usuario.html">Login</a></div>
    
            <div class="aba"><a href="/gerencia_carros.html">Gerência</a></div>
        </div>

        <h1> <%= mensagem %> </h1>
    </body>

</html>