body{
    display: flex;
    flex-direction: column;

    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-color: rgb(246, 225, 202);
}

div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    font-size: 50px;
}

#casa{
    background-color: #8ffdd4;
}

#linhas{
    background-color: rgb(255, 255, 255);
}

#slider{
    width: 100px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}